<p> 1.Oʻtkir Hoshimov 1941-yilning 5-avgustida Toshkent viloyatining Zangiota tumani
    Doʻmbirobod mavzesida tavallud topgan.
    </p>
<hr>
<p>12.Kamoluddin Bihzod (1450-yil, Hirot, hozirgi Afgʻoniston – 1535-yil,
    Tabriz, hozirgi Eron) – fors miniatyurasining taniqli musavviri,
    temuriy hukmdor Husayn Boyqaro va keyinchalik safaviy shohi Taxmasp
    (875-912—hijriy[1] / 1460-1415—milodiy yillar) saroylarining rassomi
    boʻlgan.</p>
<p>Abdulla Qahhor (1907 yil 17 sentyabr – 1968 yil 24 may) — sovet va oʻzbek romanchisi,
    qissa yozuvchisi, shoir, dramaturg, badiiy tarjimon. U 1951-yilda chop etilgan
    “Qoʻshchinor chiroqlari ” romani va 1958-yilda chop etilgan “Sinchalak ” romani
    muallifi sifatida yodda qolgan .</p>
<p>Abdulla Qodiriy (asosiy taxalluslari: Qodiriy, Julqunboy)
    (1894.4.10-Toshkent-1938.10.4) – XX-asr yangi oʻzbek adabiyotining
    ulkan namoyandasi, oʻzbek romanchiligining asoschisi; 20-yillardagi
    muhim ijtimoiy-madaniy jarayonlarning faol ishtirokchisi. Bogʻbon
    oilasida tugʻilgan. Otasi Qodirbobo (1820—1924) xon, beklar qoʻlida
    sarbozlik qilgan, rus bosqini paytida (1865) Toshkent mudofaasida qatnashgan.</p>
<hr>
<h4>13.Mehrobdan chayon</h4>
<h4>O'tgan kunlar</h4>
<h4>O'zbekxon</h4>
<h4>«Bahor qaytmaydi»,</h4>
<h4>«Nur borki soya bor»</h4>
<h4> «Ikki eshik orasi»,</h4>
<h4>«Dunyoning ishlari»</h4>
<h4>«Tushda kechgan umrlar» </h4>
<hr>
<h4>11.Mehrobdan chayon</h4>
<h4>O'tgan kunlar</h4>
<h4>O'zbekxon</h4>
<h1>7.Mehrobdan chayon</h1>
<hr>
<h1>O'tgan kunlar</h1>
<hr>
<h1>O'zbekxon</h1>
<hr>

<h1>8.Abdulla Qodiriy</h1>
<hr>
<h1>Abdulla Qahhor</h1>
<hr>
<h1>O'tkir Hoshimov</h1>
